.#*
#*
temp/
_build/
bin/
oldsrc/
doc/api
doc/user/manual.html
*.elf
*.out
*.o
*.native
*.byte
*.ll
*.swp
*~
*.cil.c
*.cil.i
profile-test/*
profile-test/output
profile-test/check
profile-test/input
emsoft/*
*.json
*.csv
tsk_*
*.rta
*.dot
e2e
emsoft-eval/.output
emsoft-eval/check
emsoft-eval/ip.sa
emsoft-eval/job.mk
emsoft-eval/k_10
emsoft-eval/k_3
emsoft-eval/k_5
emsoft-eval/plot.aux
emsoft-eval/plot.log
emsoft-eval/plot.pdf
emsoft-eval/rta.sa
emsoft-eval/soft-offset.c.output
emsoft-eval/soft-offset.i
emsoft-eval/soft/
emsoft-eval/test1.c
plot.tex
sensitivity-analysis/src/:w
sensitivity-analysis/src/:w:w
sensitivity-analysis/src/Fig_Plot_Sensitivity.tex
"sensitivity-analysis/src/\\"

