.#*
#*
temp/
_build/
bin/
oldsrc/
doc/api
doc/user/manual.html
*.elf
*.out
*.o
*.native
*.byte
*.ll
*.swp
*~
*.cil.c
*.cil.i
profile-test/output
profile-test/check
profile-test/input
*.json
*.csv
tsk_*
*.rta
*.dot
