.#*
#*
temp/
_build/
oldsrc/
doc/api
doc/user/manual.html
*.elf
*.out
*.o
*.native
*.byte
*.ll
*.swp
*~
*.cil.c
*.cil.i
profile-test/*
profile-test/output
profile-test/check
profile-test/input
emsoft/*
*.json
*.csv
tsk_*
*.rta
*.dot
e2e
emsoft-eval/
script-files/
plot.tex
sensitivity-analysis/src/:w
sensitivity-analysis/src/:w:w
sensitivity-analysis/src/Fig_Plot_Sensitivity.tex
"sensitivity-analysis/src/\\"
sensitivity-analysis-firm/bin/
sensitivity-analysis/bin/
sensitivity-analysis/src/sensitivity_old.ml
tbb44_20160128oss/bin/

